body {
    background-image: url('<?php echo Config::getImagePath("stafflog.jpg"); ?>');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.login-form {
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 20px;
    height: 350px;

}

.msg {
    background-color: rgb(60, 178, 33);
    font-size: 15px;
}

.paw {
    background-color: rgb(60, 178, 33);
    font-size: 13px;
}