.book-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    height: 100%;
  }

  .book-card:hover {
    transform: scale(1.03);
  }

  .book-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .book-title {
    font-weight: bold;
    margin: 10px 0 5px;
  }

  #success {
    color: rgba(21, 83, 28, 1);
    background: rgb(127, 221, 138);
  }

  #success:hover {
    background: rgb(69, 161, 80);
  }