body {
    background-image: url('../images/stafflog.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}
.glassmorphism-card {
    background: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 30px;
    max-width: 600px;
    color: white;
}
.danger{
    color: red;
}